.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboardItemCard:hover {
  background-color: #d9d9d9;
}

#dashboard_01,
#categories_01 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn {
  margin-left: -15px;
}

.uploardForm {
  padding: 20px;
}

.navbar-custom {
  background-color: #f26925;
  color: white;
}
.na {
  color: white;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

.navHead {
  font-weight: 500;
  font-size: 25px;
}

.navHead2 {
  color: black;
  font-weight: 700;
  font-size: 25px;
}

.item {
  padding: 20px;
}

.itemhead {
  color: #1a1648;
  font-weight: 700;
  font-size: 25px;
}

.itemButtons {
  margin-left: 25px;
}

.btn-successs {
  /*formatting goes here*/
  background-color: #34a853;
  color: white;
  border-radius: 20px;
  margin-left: 1px;
  height: 40px;
  max-width: 100px;
  margin-bottom: 10px;
}
